* {
    font-family: sans-serif;
}

button {
    background-color: black;
    color: white;
    border: none;
    border-right: 2px solid rgb(60, 255, 0);
    border-bottom: 2px solid rgb(132, 255, 0);
    padding: 10px 20px;
    font-weight: bold;
}

p {
    width: 50%;
}